# Database connection string
DATABASE_URI=mongodb://127.0.0.1/payload-template-website
# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
# API Key for the Resend API https://resend.com/api-keys
RESEND_API_KEY=YOUR_API_KEY_HERE
# Email configuration
DEFAULT_FROM_ADDRESS=your-email@yourdomain.com
DEFAULT_FROM_NAME="Payload CMS"